.main-wishlist-page{
    padding: var(--spacing4)
}
.wishlist-title{
    font-size: var(--fontSize5);
    font-weight: bold;
    text-align: center;
    margin-bottom: var(--spacing4);
}


.wishlist-items-grid{
    margin: var(--spacing4);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 5rem;
    column-gap: 3rem;
    place-items: center;
}